.banner {
  background-size: cover;
  height: 350px;
  background-position: center;
  position: relative;
  .cocktail-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    .cocktail-card {
      position: absolute;
      top: 300px;
      background-color: rgb(242, 234, 230);
      width: 80vw;
      padding: 30px 100px 50px 100px;
      margin-bottom: 200px;
      border-radius: 2px;
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
      h1 {
        margin-top: 0;
        font-family: 'Indie Flower', cursive !important;
        font-size: 70px;
        text-align: center;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        li {
          display: flex;
          justify-content: space-between;
          line-height: 2;
        }
      }
      a {
        color: rgba(50,50,50,0.4);
        &:hover {
          text-decoration: none;
          color: rgba(50,50,50,0.7);
        }
      }
    }
  }
}
