.title-card {
  color: white;
  padding: 15px 0;
  .picture {
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease;
    .card-description {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    &:hover {
      opacity: 0.4;
    }
  }
}
